<h1 class="text-3xl font-bold text-center text-green-800 mb-8"> Admin Dashboard</h1>

<div class="bg-white p-6 rounded-lg shadow-md">
    <div class="overflow-x-auto">
        <table class="min-w-full">
            <thead class="bg-gray-100">
                <tr>
                    <th class="p-3 text-left"> Crop name </th>
                    <th class="p-3 text-left"> Gestation period </th>
                    <th class="p-3 text-left"> Growth period </th>
                    <th class="p-3 text-center"> Actions </th>
                </tr>
            </thead>

            <tbody id="crop-table-body">
                <tr>
                    <td colspan="4" class="p-4 text-center text-gray-500"> Loading data </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="/js/admin-dashboard.js"></script>