<!-- Link to go back to the homepage -->
<div class="mb-6">
    <a href="/" class="text-blue-600 hover:underline">&larr; Back to All Crops</a>
</div>

<!-- Main container where all crop details will be injected by JavaScript -->
<div id="details-container">
    <!-- A loading message is shown initially -->
    <p id="loading-message" class="text-center text-gray-500 text-xl">Loading details...</p>
</div>

<!-- Link to the JavaScript file that will handle everything -->
<script src="/js/crop-details.js"></script>