<h1 class="text-3xl font-bold text-center text-green-800"> Welcome to the Agricultural Guide website! </h1>

<div id="crop-list-container" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <p id="loading-message" class="col-span-full text-center text-gray-500"> Loads the crops </p>
</div>

<script src="/js/main.js"></script>